{% extends 'base.html' %}


{% block content %}

<iframe src="https://www.google.com.ua/maps/@50.466612,30.5154731,94m/data=!3m1!1e3?hl=ru&entry=ttu&g_ep=EgoyMDI0MTIwOC4wIKXMDSoASAFQAw%3D%3D" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



<iframe width="560" height="315" src="https://www.youtube.com/embed/SlC8941Wwrk?si=zLpPNiS1Ave5O02Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
